<!DOCTYPE html>
<html>
   <head>
      <title>Add Value</title>
   </head>
   <body>
      <h3>Profile form</h3>
      <form action="/value/add" method="POST">
         <label>Title</label>
         <input type="text" name="title" placeholder="Title">
         <label>Description</label>
         <textarea name= "description" placeholder="Description"></textarea>
         <label>Icon</label>
         <input type="number" name="icon_id" placeholder="Icon">
         <button type="submit">Add</button>
      </form>
   </body>
</html>
