<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Example</title>
</head>
<body>
    <form action="/submit" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Submit</button>
    </form>
 <p>https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3
https://flask.palletsprojects.com/en/3.0.x/quickstart/
https://medium.com/@AlexanderObregon/building-a-web-application-from-scratch-with-flask-and-python-f25f1f638aec
https://www.pluralsight.com/cloud-guru/labs/aws/building-a-web-application-with-python-and-flask?clickid=Cj0KCQjw6auyBhDzARIsALIo6v9Fv8U7uBrvMuRuqS2fqVNoLQowC-oNrWxda8jWc3fTe4FWponGgJEaAi_cEALw_wcB&utm_source=google&utm_medium=paid-search&utm_campaign=cloud-transformation&utm_term=ssi-global-acg-core-dsa-labs&utm_content=free-trial&gad_source=1&gclid=Cj0KCQjw6auyBhDzARIsALIo6v9Fv8U7uBrvMuRuqS2fqVNoLQowC-oNrWxda8jWc3fTe4FWponGgJEaAi_cEALw_wcB </p>
</body>
</html>
